*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
    background-color: #0B2429;
    /* display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 500PX; */
}
.container{
    display: flex;
    /* align-items: center; */

}

.box_header{
    position: relative;
    display: flex;

    justify-content: space-between;
    align-items: center;
    border: 200px solid ;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #F3AC3C;
    transform:rotate(-45deg)  translate(-22px,-350px) ;
    
}
